@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.995 0.002 85);
  --foreground: oklch(0.15 0.03 250);
  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover:  oklch(0.96 0.015 30);
  --popover-foreground: var(--foreground);
  --primary: oklch(0.7745 0.1 15);
  --primary-foreground: oklch(0.995 0.005 95);
  --secondary: oklch(0.9 0.02 260);  
  --secondary-foreground: var(--foreground);
  --muted: oklch(0.94 0.01 250);
  --muted-foreground: oklch(0.5 0.03 260); 
  --accent: oklch(0.9 0.03 260);
  --accent-foreground: var(--foreground);
  --destructive: oklch(0.65 0.15 27);
  --border: oklch(0.85 0.01 80);
  --input: var(--border);
  --ring: oklch(0.8 0.15 25);   
  --chart-1: oklch(0.65 0.22 41);
  --chart-2: oklch(0.6 0.12 185);
  --chart-3: oklch(0.4 0.07 230);
  --chart-4: oklch(0.83 0.19 85);
  --chart-5: oklch(0.77 0.18 70);
  --sidebar: oklch(0.96 0.015 30);            
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);             
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--secondary);             
  --sidebar-accent-foreground: var(--foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark {
  --background: oklch(0.15 0.05 330); 
  --foreground: oklch(0.98 0.01 345);

  --card: oklch(0.2 0.04 330);
  --card-foreground: var(--foreground);
  --popover: oklch(0.2 0.04 330);
  --popover-foreground: var(--foreground);
  --primary: oklch(0.7 0.18 340);
  --primary-foreground: oklch(0.1 0.03 330);
  --secondary: oklch(0.35 0.05 320);
  --secondary-foreground: var(--foreground);
  --muted: oklch(0.25 0.03 310);
  --muted-foreground: oklch(0.7 0.03 320);

  --accent: oklch(0.7 0.18 340);
  --accent-foreground: var(--foreground);

  --destructive: oklch(0.6 0.2 20); 
  --border: oklch(1 0 0 / 61.73%);
  --input: oklch(1 0 0 / 12%);
  
  --ring: oklch(0.8 0.2 340);
  
  --chart-1: oklch(0.5 0.2 330);
  --chart-2: oklch(0.7 0.1 0);
  --chart-3: oklch(0.6 0.13 310);
  --chart-4: oklch(0.6 0.12 160);
  --chart-5: oklch(0.7 0.18 70);
  
  --sidebar: oklch(0.18 0.04 330);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: oklch(0.65 0.17 340);
  --sidebar-primary-foreground: var(--foreground);
  --sidebar-accent: oklch(0.6 0.15 340);
  --sidebar-accent-foreground: var(--foreground);
  
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.8 0.2 340);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: hsl(0 0% 100%);
  border-radius: 0 8px 8px 0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: hsl(210 40% 90.1%);
  border-radius: 8px;
  border: 1px solid hsl(0 0% 100%);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(210 40% 85.1%);
}

.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: hsl(222.2 84% 4.9%);
  border-radius: 0 8px 8px 0;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: hsl(217.2 32.6% 17.5%);
  border-radius: 8px;
  border: 1px solid hsl(222.2 84% 4.9%);
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(222.2 47.4% 11.2%);
}


.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ProseMirror li {
  margin-bottom: 0.25rem;
}

